<p class="directions">Click card to flip</p>
<div class="flashcard" (swiperight)="nextCard()">
	<div class="card" [class.flipped]="cardFlipped" (tap)="flipCard()" (click)="flipCard()">
		<div class="card-face" id="front" [attr.data-count]="keys['front'].length">
			<p class="side-name">Front</p>
			<p *ngFor="let key of keys['front']"><span *ngIf="!loading">{{cardData[key]}}</span></p>
		</div>
		<div class="card-face" id="back" [attr.data-count]="keys['back'].length">
			<p class="side-name">Back</p>
			<p *ngFor="let key of keys['back']"><span *ngIf="!loading">{{cardData[key]}}</span></p>
		</div>
	</div>
</div>
<div class="flashcard-actions">
	<!-- <button type="button" (click)="flipCard()">Flip</button> -->
	<button type="button" (click)="nextCard()">Next</button>
</div>