<div class="main-container">
  <h1>Chinese character flash cards</h1>
  <!-- <div class="img-container">
    <img width="250" src="../assets/images/tone-chart.png" />
  </div> -->
  


  <div class="flashcards">
    <h3>Card count: {{data.cards.length}}</h3>
    <div class="flashcard-options">
      <div class="check-input" id="front">
        <label class="main-label">Front of card</label>
        <div class="pretty p-default p-round" *ngFor="let key of keys">
          <input type="radio" name="{{key}}" (change)="setKeys('front', key)" [attr.checked]="sides['front'].indexOf(key) === -1 ? null : true" />
          <div class="state">
            <label>{{key}}</label>
          </div>
        </div>
      </div>
      <div class="check-input" id="back">
        <label class="main-label">Back of card</label>
        <div class="pretty p-default p-round" *ngFor="let key of keys">
          <input type="radio" name="{{key}}" (change)="setKeys('back', key)" [attr.checked]="sides['back'].indexOf(key) === -1 ? null : true" />
          <div class="state">
            <label>{{key}}</label>
          </div>
        </div>
      </div>
    </div>
    <app-flashcard [cardData]="data.cards[currentCardIndex]" [keys]="sides" (onNext)="nextCard()"></app-flashcard>
  </div>
</div>